@font-face {
	font-family: 'Futura PT';
	src: url('../../public/assets/fonts/FuturaPT-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../public/assets/fonts/FuturaPT-Heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../../public/assets/fonts/FuturaPT-LightObl.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../../public/assets/fonts/FuturaPT-HeavyObl.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../../public/assets/fonts/FuturaPT-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../../public/assets/fonts/FuturaPT-MediumObl.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../../public/assets/fonts/FuturaPT-BoldObl.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../../public/assets/fonts/FuturaPT-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

body {
	/* overflow: hidden; */
}

.menuHover {
	cursor: pointer;
}

.click {
	transform: scale(0.9);
	transition: transform 0.3s;
}

.header__menu--option:hover {
	color: #ff540e;
	transition: color 0.3s;
	cursor: pointer;
}

.textWhite {
	color: #fff;
}

.textColor {
	color: #ff540e;
	/* font-size:;
	font-family:  */
}

.js-btnActive {
	background: #ff540e;
	transition: all 0.3s;
}

.js-btnNoActive {
	background: none;
	border: #ff540e solid 1px;
	transition: all 0.3s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Доставим малогабаритный и крупногабаритный груз от 50 кг по Киеву и Украине по цене ниже рыночной на 7-9% */
